<%- include('partials/head') %>

<body>
    <nav class="navbar bg-body-tertiary" style="padding: 30px">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <a type="button" class="btn btn-success" href="/">
              Volver
            </a>
          </form>
        </div>
    </nav>
</br>
    <div style="padding: 30px;">
        <div class="card">
            <div class="card-header">
               Agregar nueva posteo
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="posteo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="posteo" name="posteo">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Contenido</label>
                        <input type="text" class="form-control" id="contenido" name="contenido">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Pegar imagen relacionada al posteo (opcional)</label>
                        <input type="text" class="form-control" id="imagen" name="imagen">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
            </div>
        </div>   
    </div>
</body>
</html>