<%- include('partials/head') %>

<body>  
  <%- include("partials/navBar") %>
<br />

<div style="display: flex; justify-content: center">
  <button class="btn btn-dark" type="button"
      
      data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
      aria-expanded="false" aria-controls="collapseWidthExample">
      
      <i class="bx bxs-user bx-lg" ></i>
      </button>

  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      Curso: Lenguajes de Programación I
      <br/>
        Plataforma virtual: EPICA
      <br/>
        Comisión: 21648 C
      <br/>
      <br/>
        Rodriguez Dario
      <br/>
        rodriguezrrdario@gmail.com
           
    </div>
  </div>
</div>


  <%- include("partials/footer")%>
</body> 
</html>