<%- include('partials/head') %>

<body>  
    <nav class="navbar bg-body-tertiary" style="padding: 30px">
        <div class="container-fluid">
          <a class="navbar-brand">Posteos del foro            
          </a>
          <form class="d-flex" role="search">
            <a type="button" class="btn btn-success" href="/menuEdicion">
              Menú Edición
            </a>
          </form>
        </div>
    </nav>
  <br />        
  <%- include("partials/footer")%>
</body> 
</html>